/* CSS files add styling rules to your content */

body {
  font-family: 'EB Garamond', serif;
  margin: 2em;
  background-color: #cad2c5;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  padding-top: 30px;
  padding-bottom: 40px;
  color: #2f3e46;
}

h2 {
  margin-top: 2em; 
  margin-bottom: 40px;
  font-size: 30px;
  color: #2f3e46;
}

p {
  margin-bottom: 20px;
  font-size: 20px;
}

button {
  display:flex;
  margin-left: 13px;
  font-size: 'EB Garamond', serif;
  transition-duration: 0.2s;
  background-color: 354f52;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}

button:hover {
  background-color: #52796f; 
}


.question {
  display: flex;
  justify-content: center;
  width: 14em;
  margin-top: 2em;
}

  
.answer-choice img {
  height: 20em;
  width: 13em;
  padding: 15px;
}


