/* CSS files add styling rules to your content */

/* general formatting */
body {
  font-family: "EB Garamond", serif;
  margin: 2em;
  background-color: #faf3dd;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  padding-top: 30px;
  padding-bottom: 35px;
  color: #0d3b66;
}

h2 {
  margin-top: 2em;
  margin-bottom: 40px;
  font-size: 33px;
  color: #124764;
}

p {
  margin-bottom: 20px;
  font-size: 23px;
}

/* button work */

button {
  display: flex;
  margin-top: 2px;
  padding: 5px;
  height: 21em;
  background-color: #DAB785;
  border: 0.5px solid;
  display: inline-block;
  text-align: center;
}
/*
.answer-choice1 button {
  display: flex;
  margin-left: 3px;
  font-family: "EB Garamond", serif;
  transition-duration: 0.2s;
  background-color: #DAB785;
  border: 0.5px solid;
  width: 13em;
  padding: 16px 21px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
}

*/

button:hover {
  background-color: #D5896F;
}

/* question & answerformat */
.question {
  display: flex;
  justify-content: center;
  width: 14em;
  margin-top: 2em;
}

.answer-choiceTest img {
  display: flex;
  align-items: center;
  height: 20em;
  width: 12.2em;
}

.answer-choice img {
  height: 20em;
  width: 13em;
  padding-left: 10px;
}

.answer-choice1 img {
  height: 15em;
  width: 14em;
  padding: 15px;
}



/* result and paragraph */
.result {
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 30px;
  color: #2f3e46;
}

.rec {
  font-family: "EB Garamond", serif;
  margin-right: 50px;
  color: black;
  font-weight: normal;
  font-size: 20px;
}


/*footer */
footer p {
  display: block;
  font-size: 19px;
  font-family: "EB Garamond", serif;
  text-align: center;
  padding: 30px;
}
