/* CSS files add styling rules to your content */

body {
  font-family: 'EB Garamond', serif;
  margin: 2em;
  background-color: #faf3dd;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  padding-top: 30px;
  padding-bottom: 35px;
  color: 5e6472;
}

h2 {
  margin-top: 2em; 
  margin-bottom: 40px;
  font-size: 33px;
  color: #2f3e46;
}

p {
  margin-bottom: 20px;
  font-size: 23px;
}

button {
  display:flex;
  margin-left: 1px;
  font-family: 'EB Garamond', serif;
  transition-duration: 0.2s;
  background-color: #bdd5ea; 
  border: 0.5px solid;
  width: 12.25em;
  padding: 16px 21px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
}

.answer-choice1 button {
  display:flex;
  margin-left: 3px;
  font-family: 'EB Garamond', serif;
  transition-duration: 0.2s;
  background-color: #bdd5ea; 
  border: 0.5px solid;
  width: 13em;
  padding: 16px 21px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
}
  
button:hover {
  background-color: #52796f; 
}


.question {
  display: flex;
  justify-content: center;
  width: 14em;
  margin-top: 2em;
}

  
.answer-choice img {
  height: 20em;
  width: 13em;
  padding: 15px;
}

.answer-choice1 img {
  height: 15em;
  width: 14em;
  padding: 15px;
}


.result {
  margin-top: 50px; 
  margin-bottom: 40px;
  font-size: 30px;
  color: #2f3e46;
}

.rec {
  font-family: 'EB Garamond', serif;
  margin-right: 50px;
  color: black;
  font-weight: normal;
  font-size: 20px;
}


footer p{
  display:block;
  font-size: 19px;
  font-family: 'EB Garamond', serif;
  text-align: center;
  padding: 30px;
}
